<div id="shopify-block-14417550493701535262" class="shopify-block shopify-app-block"><!-- BEGIN app snippet: limoniapps-discountninja-stickybar --><script type="text/template" id="limoniapps-discountninja-stickybar-template">
	<div class="limoniapps-sticky-bar-wrapper">
		<div class="limoniapps-sticky-bar [[FLAGS]]" data-token="[[TOKEN]]">
			<div class="limoniapps-box" style="min-height:[[HEIGHT]]px">
				<a class="limoniapps-poweredby limoniapps-stickybar-poweredby limoniapps-poweredby-hidden" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
				<a class="limoniapps-close" data-notify="dismiss">
					<div class="limoniapps-close-x">×</div>
				</a>
				<div class="limoniapps-content [[WIDTH]]" style="min-height:[[HEIGHT]]px">
					<div class="limoniapps-col-image" style="min-width:[[HEIGHT]]px;min-height:[[HEIGHT]]px">
						<div class="limoniapps-image"></div>
					</div>
					<div class="limoniapps-col-info" [[LINK=""]]>
						<div class="limoniapps-info">
							<div class="limoniapps-message limoniapps-message-body">[[BODY]]</div>
							<div class="limoniapps-message limoniapps-message-timerfooter">[[TIMER_FOOTER]]</div>
						</div>
						<div class="limoniapps-col-actions">
							<div class="limoniapps-action button1">
								<button type="button" class="limoniapps-action-btn limoniapps-action-btn-[[ACTIONBUTTON1_STYLE]] [[ACTIONBUTTON1_SIZE]]" data-action="[[ACTIONBUTTON1_ACTION]]">
									<div class="limoniapps-action-btn-label">[[ACTIONBUTTON1_LABEL]]</div>
								</button>
							</div>
							<div class="limoniapps-action button2">
								<button type="button" class="limoniapps-action-btn limoniapps-action-btn-[[ACTIONBUTTON2_STYLE]] [[ACTIONBUTTON2_SIZE]]" data-action="[[ACTIONBUTTON2_ACTION]]">
									<div class="limoniapps-action-btn-label">[[ACTIONBUTTON2_LABEL]]</div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script><!-- END app snippet --><!-- BEGIN app snippet: limoniapps-discountninja-notification --><script type="text/template" id="limoniapps-discountninja-notification-template">
	<span class="limoniapps-offercount-minimized [[OFFERCOUNT_FLAGS]]" data-token="[[TOKEN]]"></span>
	<div data-notify="container" class="limoniapps-notification [[FLAGS]]" role="alert">
		<span class="limoniapps-offercount"></span>
		<div class="limoniapps-box">
			<div class="limoniapps-notification-buttons">
				<a class="limoniapps-close" data-notify="dismiss">
					<div class="limoniapps-close-x">×</div>
				</a>
				<div class="limoniapps-minimize">
					<div class="limoniapps-minimize-min maximized">
						<svg height="30px" width="30px" style="position: relative;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" class="limoniapps-svg-notification-arrow" viewBox="0 0 960 560">
							<g>
								<path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"></path>
							</g>
						</svg>
					</div>
					<div class="limoniapps-minimize-max minimized">
						<svg height="30px" width="30px" style="position: relative;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" class="limoniapps-svg-notification-arrow" viewBox="0 0 960 560">
							<g class="limoniapps-svg-notification-arrow-up">
								<path d="M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z"></path>
							</g>
						</svg>
					</div>
				</div>
			</div>
			<div class="limoniapps-col-image maximized">
				<div class="limoniapps-image"></div>
			</div>
			<div class="limoniapps-col-info">
				<div class="limoniapps-title maximized">
					<span class="text-wrapper">[[HEADER]]</span>
				</div>
				<div class="limoniapps-title minimized">
					<span class="text-wrapper">[[MINIMIZED]]</span>
				</div>
				<div class="limoniapps-message limoniapps-message-body maximized">
					<span class="text-wrapper">[[BODY]]</span>
				</div>
				<div class="limoniapps-message limoniapps-message-footer maximized">
					<span class="text-wrapper">[[FOOTER]]</span>
				</div>
				<div class="limoniapps-message limoniapps-message-timerfooter maximized">
					<span class="text-wrapper">[[TIMER_FOOTER]]</span>
				</div>
				<a class="limoniapps-poweredby limoniapps-notify-poweredby limoniapps-poweredby-hidden maximized" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="limoniapps-discountninja-notification-item-template">
	<div class="limoniapps-body-item" data-offer-token="[[TOKEN]]">
		<div class="limoniapps-col-info">
			<div class="limoniapps-image"></div>
		</div>
		<span class="text-wrapper">[[TEXT]]</span>
	</div>
</script><!-- END app snippet --><!-- BEGIN app snippet: limoniapps-discountninja-popup --><script type="text/template" id="limoniapps-discountninja-popup-template">
	<div data-token="[[TOKEN]]" class="limoniapps-popup limoniapps-size-[[SIZE]] limoniapps-overlay-[[BACKGROUNDOVERLAY]] limoniapps-shape-[[SHAPE]] limoniapps-align-[[CONTENTALIGNMENTHORIZONTAL]] limoniapps-action-[[BUTTONPLACEMENT]] limoniapps-content-[[CONTENTALIGNMENTVERTICAL]]">
		<div class="limoniapps-popup-vertical-alignment-helper">
			<div class="limoniapps-popup-vertical-align-center">
				<div class="limoniapps-content">
					<div class="limoniapps-content-inner">
						<a class="limoniapps-close" data-notify="dismiss">
							<div class="limoniapps-close-x">×</div>
						</a>
						<div class="limoniapps-body">
							<a class="limoniapps-poweredby limoniapps-popup-poweredby limoniapps-poweredby-hidden" target="_blank" href="https://discountninja.io">Powered By Discount Ninja</a>
							<div class="limoniapps-box">
								<div class="limoniapps-message-header-row">
									<div class="limoniapps-message-header">[[HEADER]]</div>
								</div>
								<div class="limoniapps-message-body-row">
									<div class="limoniapps-message-body">[[BODY]]</div>
								</div>
								<div class="limoniapps-message-footer-row">
									<div class="limoniapps-message-footer">[[FOOTER]]</div>
								</div>
							</div>
							<div class="limoniapps-footer-inner">
								<div class="limoniapps-action">
									<button type="button" class="limoniapps-action-btn limoniapps-action-btn-1 limoniapps-action-btn-[[ACTIONBUTTON1STYLE]] [[ACTIONBUTTON1SIZE]]" data-action="apply">
										<div class="limoniapps-action-btn-label">[[ACTIONBUTTON1LABEL]]</div>
									</button>
									<button type="button" class="limoniapps-action-btn limoniapps-action-btn-2 limoniapps-action-btn-[[ACTIONBUTTON2STYLE]] [[ACTIONBUTTON2SIZE]]" data-action="learnmore">
										<div class="limoniapps-action-btn-label">[[ACTIONBUTTON2LABEL]]</div>
									</button>
								</div>
								<a class="limoniapps-lnk-dismiss">[[NOTHANKSBUTTONLABEL]]</a>
							</div>
						</div>
					</div>
					<div class="limoniapps-footer-outer">
						<div class="limoniapps-action">
							<button type="button" class="limoniapps-action-btn limoniapps-action-btn-1 limoniapps-action-btn-[[ACTIONBUTTON1STYLE]] [[ACTIONBUTTON1SIZE]]" data-action="apply">
								<div class="limoniapps-action-btn-label">[[ACTIONBUTTON1LABEL]]</div>
							</button>
							<button type="button" class="limoniapps-action-btn limoniapps-action-btn-2 limoniapps-action-btn-[[ACTIONBUTTON2STYLE]] [[ACTIONBUTTON2SIZE]]" data-action="learnmore">
								<div class="limoniapps-action-btn-label">[[ACTIONBUTTON2LABEL]]</div>
							</button>
						</div>
						<a class="limoniapps-lnk-dismiss">[[NOTHANKSBUTTONLABEL]]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</script><!-- END app snippet --><!-- BEGIN app snippet: limoniapps-discountninja-badge --><script type="text/template" id="limoniapps-discountninja-badge-template">
	<div class="limoniapps-discountninja-badge [[DASH]] [[SIZE]] [[POSITION]]" dir="ltr" data-style="[[STYLE]]" data-token="[[TOKEN]]">
		<div class="limoniapps-discountninja-badge-inner">
			<div class="limoniapps-discountninja-badge-inner-border">[[TEXT]]</div>
		</div>
	</div>
</script><!-- END app snippet --><!-- BEGIN app snippet: limoniapps-discountninja-promotionsummary --><script type="text/template" id="limoniapps-promotionsummary-template">
	<div class="limoniapps-discountninja-subtotalcomment-summary-table" data-token="ALL-TOKENS">
		<div class="limoniapps-discountninja-subtotalcomment-summary-header" style="[[SHOWHEADER]]">[[HEADER]]</div>
		<div class="limoniapps-discountninja-subtotalcomment-summary-body" style="[[SHOWBODY]]">[[BODY]]</div>
		<div class="limoniapps-discountninja-subtotalcomment-summary-promotioncodefield" style="[[SHOWPROMOTIONCODEFIELD]]"></div>
		<div class="limoniapps-discountninja-subtotalcomment-summary-footer" style="[[SHOWFOOTER]]">
			<div style="[[SHOWLEGACYFOOTER]]">
				[[FOOTER]]
			</div>
			<div class="limoniapps-discountninja-cartsummary-table" style="[[SHOWNEWFOOTER]]">
				<div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-subtotal" style="[[SHOWSUBTOTAL]]">
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-subtotal-label">[[SUBTOTAL_LABEL]]</div>
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-subtotal-amount">[[SUBTOTAL]]</div>
				</div>
				<div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-discount" style="[[SHOWTOTALDISCOUNT]]">
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-discount-label">[[TOTALDISCOUNT_LABEL]]</div>
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-discount-amount">[[TOTALDISCOUNT]]</div>
				</div>
				<div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-total" style="[[SHOWTOTAL]]">
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-total-label">[[TOTAL_LABEL]]</div>
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-total-amount">[[TOTAL]]</div>
				</div>
				<div class="limoniapps-discountninja-cartsummary-row limoniapps-discountninja-cartsummary-row-discountedtotal" style="[[SHOWDISCOUNTEDTOTAL]]">
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-label limoniapps-discountninja-cartsummary-cell-discountedtotal-label">[[DISCOUNTED_TOTAL_LABEL]]</div>
					<div class="limoniapps-discountninja-cartsummary-cell limoniapps-discountninja-cartsummary-cell-amount limoniapps-discountninja-cartsummary-cell-discountedtotal-amount">[[DISCOUNTED_TOTAL]]</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="limoniapps-promotionsummary-row-template">
	<div class="limoniapps-discountninja-subtotalcomment-summary-row">[[ROW]]</div>
</script><!-- END app snippet --></div>