{%- comment -%}V4.6.0 - November 2022
This file is system-genererated by Discount Ninja and should not be modified or stored in a source control system.
Do not modify or remove this snippet, we reserve the right to overwrite it at any moment to add improvements or new features so that customizations you made might be lost.
{%- endcomment -%}

<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-wrapper limoniapps-discountninja-fontsize-base">
	<div style="[[SHOWLINK]]" onclick="javascript:if (discountNinja) discountNinja.DiscountCode.ToggleLink(this)" class="limoniapps-discountninja-cartdiscountfield-link">[[LINKTEXT]]</div>
	<div style="[[SHOWCONTENT]]" class="limoniapps-discountninja-cartdiscountfield-inner">
		<div style="[[SHOWDESCRIPTION]]" data-limoniapps-discountninja-cartdiscountfield-showdescription="[[SHOWDESCRIPTIONFLAG]]" class="limoniapps-discountninja-cartdiscountfield-description">[[DESCRIPTION]]</div>
		<div class="limoniapps-discountninja-cartdiscountfield-inputandbutton">
			<input type="text" class="limoniapps-discountninja-cartdiscountfield-input" value="" autocomplete="off" placeholder="[[PLACEHOLDER]]" />
			<button type="button" class="limoniapps-discountninja-cartdiscountfield-apply" value="[[BUTTONTEXT]]">[[BUTTONTEXT]]</button>
		</div>
		<div class="limoniapps-discountninja-cartdiscountfield-discountcodes"></div>
		<div style="[[SHOWFOOTER]]" data-limoniapps-discountninja-cartdiscountfield-showfooter="[[SHOWFOOTERFLAG]]" class="limoniapps-discountninja-cartdiscountfield-footer" onmouseover="javascript:if (discountNinja) discountNinja.DiscountCode.ShowFooterInstructions(this)" onmouseout="javascript:if (discountNinja) discountNinja.DiscountCode.HideFooterInstructions(this)">
			[[FOOTERTEXT]]<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-footer-onhover">[[FOOTERONHOVERTEXT]]</div>
		</div>
		<div class="limoniapps-discountninja-cartdiscountfield-discountcode-template" style="display:none" >
			<div class="limoniapps-discountninja-cartdiscountfield-discountcode" data-discountcode="[[DISCOUNT_CODE]]">
				<span class="limoniapps-discountninja-cartdiscountfield-discountcode-code">[[DISCOUNT_CODE]]</span>
				<svg onclick="javascript:if (discountNinja) discountNinja.DiscountCode.RemoveTag(this)" class="limoniapps-discountninja-cartdiscountfield-discountcode-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13">
					<path d="M1.5 1.5l10.05 10.05M11.5 1.5L1.45 11.55" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"></path>
				</svg>
			</div>
		</div>
	</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-searching">[[SEARCHING]]</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-applied">[[APPLIED]]</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notapplied">[[NOTAPPLIED]]</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notapplied-reason">[[NOTAPPLIEDREASON]]</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notfound">[[NOTFOUND]]</div>
	<div style="display:none" class="limoniapps-discountninja-cartdiscountfield-feedback limoniapps-discountninja-cartdiscountfield-notcombinable">[[NOTCOMBINABLE]]</div>
</div>